In [0]:
/FileStore/tables/Emp_1-3.csv

In [0]:
df = spark.read.csv("/FileStore/tables/Emp_1-3.csv",header=True,inferSchema=True)

In [0]:
df.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df1 = df.distinct()

In [0]:
df1.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     6| rahul|  null|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     1|manish| 10000|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df2 =df.dropDuplicates(['emp_id','salary'])

In [0]:
df2.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

**SORT () and ORDER()**

In [0]:
df5 = spark.read.csv("/FileStore/tables/Emp_1-3.csv",header=True,inferSchema=True)

In [0]:
df5.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df5.sort("salary").show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df5.sort("salary","name").show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df5.orderBy("salary").show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df5.orderBy("salary","name").show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df5.sort(df5.salary.desc()).show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df5.sort(df5.salary.desc(),df5.name.asc()).show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
|     5|  null| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+