In [0]:
/FileStore/tables/Emp_1-4.csv

In [0]:
df = spark.read.csv("/FileStore/tables/Emp_1-4.csv",header=True,inferSchema=True)

In [0]:
display(df)

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df.groupBy("address").sum("salary").show()

+-------+-----------+
|address|sum(salary)|
+-------+-----------+
|  india|     130000|
|    usa|     104000|
+-------+-----------+

In [0]:
df.groupBy("address").count().show()

+-------+-----+
|address|count|
+-------+-----+
|  india|    6|
|    usa|    6|
+-------+-----+

In [0]:
df.groupBy("address","emp_id").sum("salary").show()

+-------+------+-----------+
|address|emp_id|sum(salary)|
+-------+------+-----------+
|    usa|     4|      24000|
|  india|     6|       null|
|    usa|     2|      40000|
|  india|     1|      20000|
|  india|     3|     110000|
|    usa|     5|      40000|
+-------+------+-----------+

In [0]:
df.groupBy("address").max("salary").show()

+-------+-----------+
|address|max(salary)|
+-------+-----------+
|  india|      55000|
|    usa|      20000|
+-------+-----------+

In [0]:
df.groupBy("address").min("salary").show()

+-------+-----------+
|address|min(salary)|
+-------+-----------+
|  india|      10000|
|    usa|      12000|
+-------+-----------+