In [0]:
/FileStore/tables/Emp_1.csv

In [0]:
df = spark.read.csv('/FileStore/tables/Emp_1.csv')

In [0]:
df.show()

+------+------+------+-------+----+-----+
|   _c0|   _c1|   _c2|    _c3| _c4|  _c5|
+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.display()

_c0,_c1,_c2,_c3,_c4,_c5
emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

DataFrame With Header

In [0]:
df1 = spark.read.csv('/FileStore/tables/Emp_1.csv',header = True)

In [0]:
display(df1)

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

Read Schema

In [0]:
df1.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

DataFrame with Header and Proper Schema

In [0]:
df2 = spark.read.csv('/FileStore/tables/Emp_1.csv',header = True,inferSchema= True)

In [0]:
display(df2)

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df2.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

Another Way of Reading the File

In [0]:
df3 = spark.read.format("csv").options(header=True,inferSchema=True).load('/FileStore/tables/Emp_1.csv')

In [0]:
display(df3)

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df3.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

**SELECT FUNCTION IN PYSPARK**

In [0]:
/FileStore/tables/Emp_1.csv

In [0]:
dfselect = spark.read.csv('/FileStore/tables/Emp_1.csv',header=True,inferSchema=True)

In [0]:
display(dfselect)

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
dfselect.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

**USING SELECT FUNCTION**

In [0]:
dfselect.select("emp_id","name").show()

+------+------+
|emp_id|  name|
+------+------+
|     1|manish|
|     2|  rani|
|     3| rinku|
|     4|  neha|
|     5|  null|
|     6| rahul|
|     1|manish|
|     2|  rani|
|     3| rinku|
|     4|  neha|
|     5|  null|
|     6| rahul|
+------+------+

In [0]:
dfselect.select("emp_id","name","address").display()

emp_id,name,address
1,manish,india
2,rani,usa
3,rinku,india
4,neha,usa
5,null,usa
6,rahul,india
1,manish,india
2,rani,usa
3,rinku,india
4,neha,usa
5,null,usa
6,rahul,india

2nd **Method**

In [0]:
dfselect.select(dfselect.emp_id,dfselect.name).show()

+------+------+
|emp_id|  name|
+------+------+
|     1|manish|
|     2|  rani|
|     3| rinku|
|     4|  neha|
|     5|  null|
|     6| rahul|
|     1|manish|
|     2|  rani|
|     3| rinku|
|     4|  neha|
|     5|  null|
|     6| rahul|
+------+------+

In [0]:
dfselect.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

**Read only From Column Name to the Loc **

In [0]:
dfselect.select(df.columns[1:5]).show()

+------+------+-------+----+
|  name|salary|address| loc|
+------+------+-------+----+
|manish| 10000|  india|null|
|  rani| 20000|    usa|null|
| rinku| 55000|  india|null|
|  neha| 12000|    usa|null|
|  null| 20000|    usa|null|
| rahul|  null|  india|null|
|manish| 10000|  india|null|
|  rani| 20000|    usa|null|
| rinku| 55000|  india|null|
|  neha| 12000|    usa|null|
|  null| 20000|    usa|null|
| rahul|  null|  india|null|
+------+------+-------+----+

In [0]:
dfselect.select(df.columns[0]).show()

+------+
|emp_id|
+------+
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
+------+

In [0]:
dfselect.select(df.columns[2:4]).show()

+------+-------+
|salary|address|
+------+-------+
| 10000|  india|
| 20000|    usa|
| 55000|  india|
| 12000|    usa|
| 20000|    usa|
|  null|  india|
| 10000|  india|
| 20000|    usa|
| 55000|  india|
| 12000|    usa|
| 20000|    usa|
|  null|  india|
+------+-------+