In [0]:
/FileStore/tables/Emp_1.csv

In [0]:
df = spark.read.csv('/FileStore/tables/Emp_1.csv')

In [0]:
df.show()

+------+------+------+-------+----+-----+
|   _c0|   _c1|   _c2|    _c3| _c4|  _c5|
+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.display()

_c0,_c1,_c2,_c3,_c4,_c5
emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

DataFrame With Header

In [0]:
df1 = spark.read.csv('/FileStore/tables/Emp_1.csv',header = True)

In [0]:
display(df1)

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

Read Schema

In [0]:
df1.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

DataFrame with Header and Proper Schema

In [0]:
df2 = spark.read.csv('/FileStore/tables/Emp_1.csv',header = True,inferSchema= True)

In [0]:
display(df2)

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df2.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

Another Way of Reading the File

In [0]:
df3 = spark.read.format("csv").options(header=True,inferSchema=True).load('/FileStore/tables/Emp_1.csv')

In [0]:
display(df3)

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df3.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)