In [0]:
 /FileStore/tables/Emp_1-1.csv

**withColumn() function is used to add a new column, replace an existing column, or transform an existing column in a DataFrame.

In PySpark, you can use the withColumnRenamed() method to rename a column in a DataFrame.**

In [0]:
df = spark.read.csv("/FileStore/tables/Emp_1-1.csv",header=True)

In [0]:
df.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.withColumn("salary1",df.salary*10).show()

+------+------+------+-------+----+-----+--------+
|emp_id|  name|salary|address| loc|email| salary1|
+------+------+------+-------+----+-----+--------+
|     1|manish| 10000|  india|null| null|100000.0|
|     2|  rani| 20000|    usa|null| null|200000.0|
|     3| rinku| 55000|  india|null| null|550000.0|
|     4|  neha| 12000|    usa|null| null|120000.0|
|     5|  null| 20000|    usa|null| null|200000.0|
|     6| rahul|  null|  india|null| null|    null|
|     1|manish| 10000|  india|null| null|100000.0|
|     2|  rani| 20000|    usa|null| null|200000.0|
|     3| rinku| 55000|  india|null| null|550000.0|
|     4|  neha| 12000|    usa|null| null|120000.0|
|     5|  null| 20000|    usa|null| null|200000.0|
|     6| rahul|  null|  india|null| null|    null|
+------+------+------+-------+----+-----+--------+

In [0]:
from pyspark.sql.functions import lit
df.withColumn("Country",lit("USA")).show()

+------+------+------+-------+----+-----+-------+
|emp_id|  name|salary|address| loc|email|Country|
+------+------+------+-------+----+-----+-------+
|     1|manish| 10000|  india|null| null|    USA|
|     2|  rani| 20000|    usa|null| null|    USA|
|     3| rinku| 55000|  india|null| null|    USA|
|     4|  neha| 12000|    usa|null| null|    USA|
|     5|  null| 20000|    usa|null| null|    USA|
|     6| rahul|  null|  india|null| null|    USA|
|     1|manish| 10000|  india|null| null|    USA|
|     2|  rani| 20000|    usa|null| null|    USA|
|     3| rinku| 55000|  india|null| null|    USA|
|     4|  neha| 12000|    usa|null| null|    USA|
|     5|  null| 20000|    usa|null| null|    USA|
|     6| rahul|  null|  india|null| null|    USA|
+------+------+------+-------+----+-----+-------+

In [0]:
df.withColumn("increment",lit(0)).show()

+------+------+------+-------+----+-----+---------+
|emp_id|  name|salary|address| loc|email|increment|
+------+------+------+-------+----+-----+---------+
|     1|manish| 10000|  india|null| null|        0|
|     2|  rani| 20000|    usa|null| null|        0|
|     3| rinku| 55000|  india|null| null|        0|
|     4|  neha| 12000|    usa|null| null|        0|
|     5|  null| 20000|    usa|null| null|        0|
|     6| rahul|  null|  india|null| null|        0|
|     1|manish| 10000|  india|null| null|        0|
|     2|  rani| 20000|    usa|null| null|        0|
|     3| rinku| 55000|  india|null| null|        0|
|     4|  neha| 12000|    usa|null| null|        0|
|     5|  null| 20000|    usa|null| null|        0|
|     6| rahul|  null|  india|null| null|        0|
+------+------+------+-------+----+-----+---------+

**Update Existing Schema**

In [0]:
df.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

In [0]:
from  pyspark.sql.functions import col
df1 = df.withColumn("salary",col("salary").cast("Integer"))

In [0]:
df1.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df1.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

**Rename the Column**

In [0]:
df.withColumnRenamed("loc","location").show()

+------+------+------+-------+--------+-----+
|emp_id|  name|salary|address|location|email|
+------+------+------+-------+--------+-----+
|     1|manish| 10000|  india|    null| null|
|     2|  rani| 20000|    usa|    null| null|
|     3| rinku| 55000|  india|    null| null|
|     4|  neha| 12000|    usa|    null| null|
|     5|  null| 20000|    usa|    null| null|
|     6| rahul|  null|  india|    null| null|
|     1|manish| 10000|  india|    null| null|
|     2|  rani| 20000|    usa|    null| null|
|     3| rinku| 55000|  india|    null| null|
|     4|  neha| 12000|    usa|    null| null|
|     5|  null| 20000|    usa|    null| null|
|     6| rahul|  null|  india|    null| null|
+------+------+------+-------+--------+-----+