### JOINS

In [0]:
dataj1 = [('1','gaur','d01'),
          ('2','kit','d02'),
          ('3','sam','d03'),
          ('4','tim','d03'),
          ('5','aman','d05'),
          ('6','nad','d06')] 

schemaj1 = 'emp_id STRING, emp_name STRING, dept_id STRING' 

df1 = spark.createDataFrame(dataj1,schemaj1)

dataj2 = [('d01','HR'),
          ('d02','Marketing'),
          ('d03','Accounts'),
          ('d04','IT'),
          ('d05','Finance')]

schemaj2 = 'dept_id STRING, department STRING'

df2 = spark.createDataFrame(dataj2,schemaj2)

In [0]:
df1.display()

emp_id,emp_name,dept_id
1,gaur,d01
2,kit,d02
3,sam,d03
4,tim,d03
5,aman,d05
6,nad,d06

In [0]:
df2.display()

dept_id,department
d01,HR
d02,Marketing
d03,Accounts
d04,IT
d05,Finance

### INNER JOIN

In [0]:

df1.join(df2, df1['dept_id']==df2['dept_id'],'inner').display()

emp_id,emp_name,dept_id,dept_id,department
1,gaur,d01,d01,HR
2,kit,d02,d02,Marketing
3,sam,d03,d03,Accounts
4,tim,d03,d03,Accounts
5,aman,d05,d05,Finance

### LEFT JOIN

In [0]:
df1.join(df2, df1['dept_id']==df2['dept_id'],'left').display()

emp_id,emp_name,dept_id,dept_id,department
1,gaur,d01,d01,HR
2,kit,d02,d02,Marketing
3,sam,d03,d03,Accounts
4,tim,d03,d03,Accounts
5,aman,d05,d05,Finance
6,nad,d06,null,null

### RIGHT JOIN

In [0]:
df1.join(df2, df1['dept_id']==df2['dept_id'],'Right').display()

emp_id,emp_name,dept_id,dept_id,department
1,gaur,d01,d01,HR
2,kit,d02,d02,Marketing
4,tim,d03,d03,Accounts
3,sam,d03,d03,Accounts
null,null,null,d04,IT
5,aman,d05,d05,Finance

###  ANTI JOIN

In [0]:
df1.join(df2,df1['dept_id']==df2['dept_id'],'anti').display()

emp_id,emp_name,dept_id
6,nad,d06

### ### JOINS -- SECOND WAY

In [0]:
File uploaded to /FileStore/tables/department-1.csv
File uploaded to /FileStore/tables/emp_2.csv

### LEFT TABLLE(emp_df)

In [0]:
emp_df= spark.read.csv("/FileStore/tables/emp_2.csv",header=True,inferSchema=True)
emp_df.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul| 10000|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000|   UK|
+------+------+------+-----+

### RIGHT TABLE(dept_df)

In [0]:
dept_df=spark.read.csv("/FileStore/tables/department-1.csv",header=True,inferSchema=True)
dept_df.show()

+----+----------+------------+
|user|department| designation|
+----+----------+------------+
|   1|        it|   software |
|   2|     sales|data analyst|
|   3|     other|     trainer|
|   4|        it|data analyst|
|   5|     sales|   marketing|
|   6|        it|data analyst|
+----+----------+------------+

### INNER JOIN

### FIRST METHOD

In [0]:
emp_df.join(dept_df,emp_df['emp_id']==dept_df['user'],'inner').display()

emp_id,name,salary,loc,user,department,designation
1,manish,20000,india,1,it,software
2,hari,5000,UK,2,sales,data analyst
3,rahul,10000,india,3,other,trainer
4,nil,20000,india,4,it,data analyst
5,sil,24000,UK,5,sales,marketing
6,neha,17000,UK,6,it,data analyst

### SECOND METHOD

In [0]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'inner').show()

+------+------+------+-----+----+----------+------------+
|emp_id|  name|salary|  loc|user|department| designation|
+------+------+------+-----+----+----------+------------+
|     1|manish| 20000|india|   1|        it|   software |
|     2|  hari|  5000|   UK|   2|     sales|data analyst|
|     3| rahul| 10000|india|   3|     other|     trainer|
|     4|   nil| 20000|india|   4|        it|data analyst|
|     5|   sil| 24000|   UK|   5|     sales|   marketing|
|     6|  neha| 17000|   UK|   6|        it|data analyst|
+------+------+------+-----+----+----------+------------+

### LEFT JOIN

### FIRST METHOD

In [0]:
emp_df.join(dept_df,emp_df['emp_id']==dept_df['user'],'left').display()

emp_id,name,salary,loc,user,department,designation
1,manish,20000,india,1,it,software
2,hari,5000,UK,2,sales,data analyst
3,rahul,10000,india,3,other,trainer
4,nil,20000,india,4,it,data analyst
5,sil,24000,UK,5,sales,marketing
6,neha,17000,UK,6,it,data analyst

### SECOND METHOD

In [0]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'left').display()

emp_id,name,salary,loc,user,department,designation
1,manish,20000,india,1,it,software
2,hari,5000,UK,2,sales,data analyst
3,rahul,10000,india,3,other,trainer
4,nil,20000,india,4,it,data analyst
5,sil,24000,UK,5,sales,marketing
6,neha,17000,UK,6,it,data analyst

### RIGHT JOIN

### FIRST METHOD

In [0]:
emp_df.join(dept_df,emp_df['emp_id']==dept_df['user'],'Right').display()

emp_id,name,salary,loc,user,department,designation
1,manish,20000,india,1,it,software
2,hari,5000,UK,2,sales,data analyst
3,rahul,10000,india,3,other,trainer
4,nil,20000,india,4,it,data analyst
5,sil,24000,UK,5,sales,marketing
6,neha,17000,UK,6,it,data analyst

### SECOND METHOD

In [0]:
emp_df.join(dept_df,emp_df.emp_id==dept_df.user,'right').show()

+------+------+------+-----+----+----------+------------+
|emp_id|  name|salary|  loc|user|department| designation|
+------+------+------+-----+----+----------+------------+
|     1|manish| 20000|india|   1|        it|   software |
|     2|  hari|  5000|   UK|   2|     sales|data analyst|
|     3| rahul| 10000|india|   3|     other|     trainer|
|     4|   nil| 20000|india|   4|        it|data analyst|
|     5|   sil| 24000|   UK|   5|     sales|   marketing|
|     6|  neha| 17000|   UK|   6|        it|data analyst|
+------+------+------+-----+----+----------+------------+